body {
    box-sizing: border-box;
    background-color: rgb(250, 245, 177);
}

nav {
    color: blanchedalmond;
}

.container {
    background-color: cornsilk;
    margin-top: 50px;
    padding: 15px;
    width: 800px;
    max-width: 80%;
    border-style: solid;
}

#question {
    background-color: darkgoldenrod;
    padding: 20px;
    margin-right: 5%;
    margin-left: 5%;
    
}

#options {
    background-color: darkred;
}

.btn {
    padding: 10px;
    background-color: darkslategray;
    margin: 5px;
    border: black;
    border-style: solid;
}

.btn-grid {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

.highscores {
    border-bottom: solid;
}