body {
    box-sizing: border-box;
    background-color: rgb(71, 70, 70);
}

nav {
    color: rgb(238, 176, 83);
    background-color:rgb(32, 30, 30) ;
}

.container {
    background-color: cornsilk;
    margin-top: 50px;
    padding: 15px;
    width: 800px;
    max-width: 80%;
    border-style: solid;
    border-color: rgb(238, 176, 83);
}


#question {
    background-color: cornsilk;;
    padding: 20px;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1.2em;
    
}

#options {
    background-color: cornsilk;
}

.btn {
    padding: 10px;
    background-color: rgb(238, 176, 83);
    margin: 5px;
    border: rgb(59, 59, 59);
    border-style: solid;
    
}

.btn-grid {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

.highscores {
    border-bottom: solid;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: flex;
}